*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto',sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px;
    background-color: var(--color_0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.navbar__content{
    display: flex;
}
.navbar__content__item{
    margin: 0 12px;
    font-weight: 100;
    color: #fff;
}
.navbar__contact{
    display: flex;
}
.navbar__contact__item{
    margin: 0 8px;
    color: var(--color_2);
}
.text1{
    color: var(--color_1);
}
/* App */
/* .app{
    position: relative;
    top: 0;
    align-items: center;
    height: 100vh;
} */
.home-background{
    width: 100%;
    height: 100vh;
    background-image: 
    linear-gradient(0, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zml0bmVzc3xlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60)
    ;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -2;
}
/* Home*/
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.home__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.home__title{
    max-width: 720px ;
    font-size:2.5rem;
    color: #fff;
    padding: 6px;
    margin-bottom: 12px;
}

.home__note{
    color: #fff;
    letter-spacing: 3px;    
    font-size: 1.3rem;
    padding: 6px;
    margin-bottom: 12px;
}
.home__btn {
}
.btn--book{
    color: #fff;
    padding: 12px 48px;
    background-color: transparent;
    border: 3px solid #fff;
    transition: all ease 0.25s;
}
.btn--book:hover{
    background-color: var(--color_1);
    color: var(--color_2);
}
/* About */
.about{
    height: 110vh;
    width: 100%;
    background-color: var(--color_3);
    padding: 80px 200px 100px;
    text-align: center;
    color: #fff;
    position: relative;
}
.about__title{
    margin: 50px 0 68px;
    font-size: 1.8rem;
    font-weight: bolder;
    letter-spacing: 8px;
    position: relative;
    z-index: 10;
    background-color: var(--color_3);
}
.about__title--line{
    height: 200px;
    width: 8px;
    background-color: #6dc6c9;
    display: block;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    transform: rotate(35deg);
}
.about__note{
    margin-bottom: 40px;
    letter-spacing: 3px;
}
.about__para{
    width: 560px;
    margin: 0 auto;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-weight: 300;
}
.about__para-top{
    margin-bottom: 32px;
}
.about__para-bot{
}

/* Instructor */
.instructor{
    width: 100%;
    padding: 80px 200px 100px;
    text-align: center;
    color: var(--color_3);
    position: relative;
    background-color: var(--color_4);
}
.instructor__title{
    margin: 60px 0 80px;
    font-size: 1.8rem;
    font-weight: bolder;
    letter-spacing: 8px;
    position: relative;
    z-index: 100;
    background-color: rgba(157, 234, 212, 1);
}
.instructor__content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.instructor__content-item{
    width: 280px;
    margin: 0 32px;
}
.instructor__content-item-img{
    height: 260px;
    width: 100%;
    object-fit: cover;
}
.instructor__content-item-content{
    margin: 32px 0;
}
.instructor__content-item-content h1{
    font-size: 1.6rem;
    font-weight: 600;
}
.instructor__content-item-content h2{
    font-size:medium;
    font-weight: 300;
    margin-top: 12px;
}
.instructor__content-item-para{
    font-weight: 300;
    word-spacing: 2px;
    padding: 0 4px;
}

/* Wake up and*/
.wake-work{
    width: 100%;
    background-color: var(--color_5);
    padding: 100px 200px 140px;
    text-align: center;
    color: var(--color_3);
    height: 60vh;
}
.wake-work__title{
    margin: 50px 0 40px;
    font-size: 2.4rem;
    font-weight: bolder;
    letter-spacing: 3px;
}
.wake-work__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wake-work__content-text{
    text-align: justify;
}
.wake-work__content-text h2{
    margin-bottom: 8px;
}
.wake-work__content-phone{
    display: flex;
    align-items: flex-end;
}
.wake-work__content-phone input{
    border-bottom: 2px solid var(--color_3);
    background-color: var(--color_5);
    padding: 12px 6px;
    font-size: 1rem;
    text-align: center;
}
.wake-work__content-phone input:focus{
    outline: 2px solid var(--color_1);
}
.wake-work__content-phone-inputS{
    width: 60px;
    margin-right: 4px;
}
.wake-work__content-phone button {
    margin-left: 6px;
    color: #fff;
    background-color: var(--color_3);
    padding: 12px 32px;
}
.wake-work__content-phone button:hover{
    opacity: 0.8;
}
/* Contact */
.contact{
    width: 100%;
    background-color: var(--color_3);
    padding: 100px 200px 140px;
    text-align: center;
    color: #fff;
    height: 100vh;
    position: relative;
}
.contact__title{
    margin: 24px 0 80px;
    font-size: 1.8rem;
    font-weight: bolder;
    letter-spacing: 8px;
    position: relative;
    background-color: var(--color_3);
    z-index: 10;
}
.contact__content{
    display:  flex;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    margin-bottom: 48px;
}
.contact__content-item{
    max-width: 200px;
    margin: 0 18px;
}
.contact__content-item h3{
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin-bottom: 12px;
}
.contact__content-item p {
    font-weight: 200;
    font-size: 1rem;
}
.contact__content-item p a{
    color: #fff;
}
.contact__footer{
    display:  flex;
    justify-content: center;
    align-items: flex-start;
}
.contact__footer-map{
    flex: 1;
    transform: translateX(10%);
}
.contact__footer-map img{
    width: 400px;
}
.contact__footer-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-10%);
    position: relative;
}
.contact__footer-info input,textarea{
    width: 400px;
    background-color: transparent;
    padding: 4px 8px ;
    color: #fff;
    border: 1px solid #fff;
    margin-bottom: 6px;
}
.contact__footer-info input:hover{
    border: 3px solid #fff;
}
.contact__footer-info input:focus{
    outline: 3px solid #fff;
}
.contact__footer-info textarea:hover{
    border: 3px solid #fff;
}
.contact__footer-info textarea:focus{
    border: 3px solid #fff;
}
.contact__footer-info textarea{
    padding: 12px 8px ;
    height: 130px;
}
.contact__footer-info button{
    position: absolute;
    bottom: 0;
    padding: 6px 12px;
    right: 80px;
    bottom: -28px;
    background-color: var(--color_3);
    color: #fff;
}
.contact__footer-info button:hover{
    background-color: #7f83b3;
}

/* Footer */
.footer{
    width: 100%;
    background-color: #fff;
    padding: 100px 200px 240px;
    text-align: center;
    color: var(--color_3);
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 40px 20px;
    grid-template-areas: 
    "h1 h2"
    "h3 h4"
    ;
}
.footer__top{
    grid-area: h2;
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: flex-start;
}
.footer__top-title{
    font-size: 1.3rem;
    margin-bottom: 12px;
}
.footer__top input{
    padding: 6px 8px;
    width: 100%;
    border: 3px solid var(--color_3);
    margin-bottom: 8px;
}
.footer__top button{
    width: 100%;
    padding: 8px 12px;
    font-size: 1rem;
    color: #fff;
    background-color: var(--color_3);
}
.footer__top input::-webkit-input-placeholder { /* Edge */
    color: var(--color_3);
  }
.footer__bot{
    grid-area: h3;
}
